/* Start variables */
:root {
    --main-color: #0957de;
    --secondary-color: #293c5a;
    --third-color: #b3b2b2;
    --faded-color: rgb(0 0 0 / 70%);
    --main-border: 30px;
    --main-padding: 20px
}

/* End variables */

/* Start Global Rules */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    font-family: 'Inter', sans-serif;
    padding-right: 0;
    background-color: #f1f1f1;
}

img {
    width: 50px;
}

/* End Global Rules */
.head .parenat {
    background-color: var(--main-color);
    color: white;
}

.head .parenat header {
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    padding: var(--main-padding);
}

.head .parenat header .menu {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(2, 1fr);
}

.head .parenat header .menu i {
    flex-basis: 63%;
    font-size: 7px;
}

.head .parenat header .name div {
    display: flex;
    gap: 5px;
    color: var(--third-color);
    font-size: 13px;
    justify-content: center;
    margin-top: 7px;
}

.head .parenat header .photo {
    padding: 5px;
    border: 1px solid;
    border-radius: 9px;
}

.head .parenat header .photo img {
    border-radius: 9px;
    height: 38px;
    width: 38px;
}

.head .parenat .content {
    padding: var(--main-padding);
}

.head .parenat .content>p {
    font-size: 15px;
    color: #dbe0f3;
}

.head .parenat .content .serch {
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
}

.head .parenat .content .serch div {
    background-color: white;
    border-radius: 8px;
    color: black;
    display: flex;
    align-items: center;
    padding: 13px;
    flex-basis: 77%;
}

.head .parenat .content .serch div i {
    color: var(--main-color);
}

.head .parenat .content .serch div p {
    color: var(--third-color);
    margin: 0 15px;
}

.head .parenat .content .serch>i {
    background-color: white;
    color: var(--main-color);
    padding: 14px;
    border-radius: 8px;
}

.head .parenat .find {
    padding: var(--main-padding);
    margin-bottom: 123px;
}

.head .parenat .find .text {
    display: flex;
    justify-content: space-between;
    margin-bottom: -75px;
}

.head .parenat .find .text p:last-child {
    color: #dbe0f3;
}

.head .parenat .find .photo {
    display: flex;
    gap: 22px;
    text-align: center;
    position: relative;
    bottom: -121px;
    justify-content: center;
}

.head .parenat .find .photo img {
    border-radius: 8px;
    border: 2px solid white;
    width: 109px;
    margin-bottom: 11px;
    height: 161px;
}

.head .parenat .find .photo p:nth-child(2) {
    color: var(--secondary-color);
    font-weight: 600;
}

.head .parenat .find .photo p:last-child {
    color: var(--third-color);
    color: var(--third-color);
    font-size: 13px;
}

.categories {
    padding: var(--main-padding);
}

.categories h2 {
    color: var(--secondary-color);
    margin-bottom: 15px;
}

.categories .cat {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 6px;
}

.categories .cat div {
    display: flex;
    background-color: white;
    border-radius: 8px;
    width: 44%;
    /* box-shadow: 0px 0px 9px 2px #545252; */
    padding: 5px;
    align-items: center;
    gap: 10px;
}

.categories .cat div img {
    background-color: #dadbdb;
    border-radius: 8px;
    height: 42px;
    width: 48px;
}

.categories .cat div:last-child img {
    width: 37px;
    padding: 3px;
}

.categories .cat div p {
    font-weight: 800;
    color: var(--secondary-color);
}

.footer {
    padding: var(--main-padding);
    color: #8e9595;
    display: flex;
    justify-content: space-evenly;
    background-color: white;
    border-radius: 36px;
    margin: 0 25px 15px;
}

.footer i {}

.footer i:first-child {
    color: var(--main-color);
}

.footer i:nth-child(2) {}